html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.flow-container {
  flex: 2;
  height: 100%;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.text-input {
  flex: 1;
  resize: none;
}

.icon-container {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px;
    cursor: pointer;
    z-index: 1000;
  }